<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="styles.css">
	<title>template-2</title>
</head>
<body>
	<main>
				<!-- HERO -->
		<section class="hero">
			<div class="hero__background--animation">
				<div class="hero__background__column hero__background__column1">
					<label></label>	
					<label></label>	
					<label></label>	
				</div>
				<div class="hero__background__column hero__background__column2">
					<label></label>	
					<label></label>	
					<label></label>		
				</div>
			</div>
			<div class="content">
				<div class="hero__title">
					<h2>YOUR/BRAND NAME</h2>
					<h1><span>BRAND SLOGAN</span><span>OR ANY SENTENCE</span></h1>				
				</div>
				<div class="hero__bottom">
					<div class="hero__avatar">
						<i>
							<img src="avatar.jpg" class="avatar__image">
						</i>
						<div>
							<h3>Name LastName</h3>
							<p><a href="#">@social</a></p>
						</div>
					</div>
					<nav>
						<ul>
							<li><a href="#">Designs</a></li>
							<li><a href="#">Drop</a></li>
							<li><a href="#">Content</a></li>
						</ul>
					</nav>				
				</div>
			</div>
		</section>
	</main>
</body>
</html>