<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<link rel="stylesheet" type="text/css" href="styles.css">
	<title>template-1</title>
</head>
<body>
	<nav>
		<h1>ZCoder</h1>
		<ul>
			<li><a href="#">My course</a></li>
			<li><a href="#">Fitness</a></li>
			<li><a href="#">Running</a></li>
			<li><a href="#">Journey</a></li>
			<li><a href="#">Journal</a></li>
		</ul>
		<button>JOIN FREE</button>
	</nav>
	<main>
		<section class="subtitle">
			<div class="bgImage bgImage__left"></div>
			<div class="bgImage bgImage__right"></div>
			<div></div>
			<h2>
				NEWSLETTER FOR ATHLETES,
				<span>WRITTEN BY AN ATHLETE.</span>
			</h2>
		</section>
		<section class="suscription">
			<h3>FITNESS NEWSLETTER</h3>
			<P>For marketplace seller looking to grow their business, Metaverse offers the best platform</P>
			<div class="mail">
				<input type="mail" placeholder="your email addres" class="mail">
				<input type="submit" class="submit" value="JOIN FREE">
			</div>
		</section>
		<section class="journal">
			<div class="img">
			<img src="assets/athlete.jpg">
			</div>
			<div class="info">
				<div>
					<h3>MY JOURNEY</h3>
					<p>Leverage agile frameworks to provide a robust for high level overviews. Iterative 	approaches to corporate strategy foster collaborative thinking.</p>
				</div>
			<button >READ JOURNAL</button>
			</div>
		</section>
	</main>
</body>
</html>