*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	max-width: 1800px;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #021349;
}
.container{
	position: relative;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	justify-content: center;
}
.circle{
	position: relative;
	height: 100px;
	width: 100px;
	background: #000;
	border-radius: 50%;
}
.circle::before{
	content: " ";
	position: absolute;
	height: 100px;
	width: 100px;
	background: #000;
	border-radius: 50%;
	left: -100%;
}
.circle::after{
	content: " ";
	position: absolute;
	height: 100px;
	width: 100px;
	background: #000;
	border-radius: 50%;
	right: -100%;
}
.circle.top{ background: linear-gradient(transparent 50%, #00fcb0 50.00001%, #00fcb0 100%) }
.circle.top::before{ background: linear-gradient(#00fcb0 50%, transparent 50.00001%, transparent 100%) }
.circle.top::after{ background: linear-gradient(#00B3FB 50%, transparent 50.00001%, transparent 100%) }

.circle.center{ background: #00B3FB }
.circle.center::before{ background: linear-gradient(transparent 50%, #005BC4 50.00001%, #005BC4 100%) }
.circle.center::after{ background: linear-gradient(transparent 50%, #005BC4 50.00001%, #005BC4 100%) }

.circle.bottom{ background: linear-gradient(#00B3FB 50%, #00fcb0 50.00001%, #00fcb0 100%) }
.circle.bottom::before{ background: linear-gradient(transparent 50%, #00fcb0 50.00001%, #00fcb0 100%) }
.circle.bottom::after{ background: linear-gradient(#00B3FB 50%, transparent 50.00001%, transparent 100%) }




