*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	position: relative;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(#000, #1515F3);

}
section{
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.table{
	position: absolute;
	width: 50%;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
}
.data{
	position: absolute;
	margin-left: 10%;
	width: 90%;
	height: 100%;
	bottom: 0;
	display: flex;
	justify-content: space-between;
}
.data>span{
	position: relative;
	text-align: center;
	align-self: flex-end;
	width: 10%;
	background: linear-gradient(90deg,#00AAE4, #00AAE4 50%, #0088C2 51%);
	transform-origin: bottom;
	animation: animate 2s linear;
}
@keyframes animate{
	0%{
		transform: scaleY(0);
	}
	100%{
		transform: scaleY(1);
	}
}
.data span:nth-of-type(1){height: 98%}
.data span:nth-of-type(2){height: 95%}
.data span:nth-of-type(3){height: 95%}
.data span:nth-of-type(4){height: 80%}
.data span:nth-of-type(5){height: 73%}

.data span h3{
	position: absolute;
	top: -30px;
	color: #fff;
}
.per{
	margin-right: 30px;
	position: absolute;
	top: 101%;
	color: #fff;
}
